@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --glow-rgb: 245 245 245;
  
  --light-gold-rgb: 249 181 51;
  --dark-gold-rgb: 215 147 23;

  --light-dark-rgb: 10 10 10;
  --dark-dark-rgb: 0 0 0;
  
  --primary-stripe-rgb: 230 230 230;
  --secondary-stripe-rgb: 240 240 240;

  --primary-dark-stripe-rgb: 70 70 70;
  --secondary-dark-stripe-rgb: 100 100 100;

}

html {
  overflow: auto;
  /* scrollbar-gutter: stable both-edges; */
  /* background-color: red; */
}

/* html.dark {
  background-color: rgb(30 41 59);
} */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
